@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

p {
  cursor: default;
}

header {
  height: 76.78px;
}

.barra-nav__container {
  background-color: #e7ab30;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.barra-nav__left-link {
  font-size: 17px;
  color: whitesmoke;
  transition: all 0.3s ease;
  text-shadow: 0px 0px 4px rgb(5, 5, 5);
}
.barra-nav__left-link:hover {
  transition: all 0.5 ease;
  color: #2A2C34;
  text-shadow: 0px 0px 2px rgb(5, 5, 5);
}
.barra-nav__left-link:active {
  transform: scale(0.98);
  text-decoration: none;
  text-shadow: none;
}
.barra-nav__left-link:focus {
  color: #2A2C34;
}
.barra-nav__logo-img {
  width: 160px;
  margin: 5px;
  border-radius: 35px;
  box-shadow: 0px 0px 14px 2px rgba(42, 44, 52, 0.35);
  transition: all 0.03s ease;
}
.barra-nav__logo-img:active {
  outline: 1.5px solid rgba(42, 44, 52, 0.09);
  transform: scale(0.98);
  box-shadow: none;
}
.barra-nav__right-link {
  font-size: 17px;
  color: whitesmoke;
  transition: all 0.3s ease;
  text-shadow: 0px 0px 4px rgb(5, 5, 5);
  font-weight: bold;
  transition: all 1s ease;
}
.barra-nav__right-link:hover {
  transition: all 1s ease;
  text-shadow: 0px 0px 1px rgb(6, 6, 6);
  color: black;
}
.barra-nav__right-link-sign {
  font-size: 17px;
  color: whitesmoke;
  transition: all 0.3s ease;
  text-shadow: 0px 0px 4px rgb(5, 5, 5);
  font-weight: bold;
  transition: all 1s ease;
  background-color: hsla(0, 100%, 50%, 0.582);
  border-radius: 5px;
}
.barra-nav__right-link-sign:hover {
  color: #e7ab30;
  background-color: #2A2C34;
  transition: all 1s ease;
  text-shadow: 0px 0px 1px rgb(5, 5, 5);
  transform: translateY(-5px);
}
.barra-nav__right-link-sign:focus {
  color: rgba(255, 0, 0, 0.8);
}

/*Estilos para el menu desplegable */
.barra-nav .menu-mobile {
  background-image: linear-gradient(#e7ab30, #2A2C34);
}
.barra-nav .menu-mobile__header {
  padding-right: 30px;
}
.barra-nav .menu-mobile__header-img {
  width: 160px;
  margin: 5px;
  border-radius: 35px;
  box-shadow: 0px 0px 14px 2px rgba(42, 44, 52, 0.35);
  transition: all 0.03s ease;
}
.barra-nav .menu-mobile__header-img:active {
  outline: 1.5px solid rgba(42, 44, 52, 0.09);
  transform: scale(0.98);
  box-shadow: none;
}
.barra-nav .menu-mobile__header-cerrar {
  background-color: whitesmoke;
}
.barra-nav .menu-mobile__body-a {
  color: #2A2C34;
  border-left: 4px solid #2A2C34;
  padding-left: 25px;
  margin: 5px;
  transition: all 0.2s ease;
}
.barra-nav .menu-mobile__body-a:focus {
  transform: scale(1.04);
  border-left: 6px solid white;
}
.barra-nav .menu-mobile__body-a:active {
  transform: scale(0.98);
  border-left: 6px solid white;
}
.barra-nav .menu-mobile__body-dropdown {
  color: #2A2C34;
  border-left: 4px solid #2A2C34;
  margin: 5px;
  padding-left: 25px;
  font-size: 20px;
}
.barra-nav .menu-mobile__body-dropdown:active {
  border-left: 6px solid white;
}
.barra-nav .menu-mobile__body-dropdown-a {
  color: #2A2C34;
}
.barra-nav .menu-mobile__body-dropdown-open {
  background-color: #2A2C34;
}
.barra-nav .menu-mobile__body-dropdown-open-a {
  color: #e7ab30;
}
.barra-nav .menu-mobile__body-dropdown-open-a:hover {
  background-color: #e7ab30;
  color: #2A2C34;
}
.barra-nav .menu-mobile__body-dropdown-open-a:active {
  background-color: #e7ab30;
  color: #2A2C34;
  transition: all 0.3s ease;
  border-radius: 0 20px 20px 0;
}

.form-sign-container .form-sign, .form-container .form, .form-sign-container .form {
  margin: 50px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 2px rgba(42, 44, 52, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6% 6%;
  animation: card 1s ease-in;
  background-color: whitesmoke;
}
@media (max-width: 420px) {
  .form-sign-container .form-sign, .form-container .form, .form-sign-container .form {
    margin: 15% 0;
  }
}

main {
  background-image: linear-gradient(whitesmoke, #2A2C34);
}
@media (max-width: 420px) {
  main {
    height: auto;
  }
}

.home {
  text-align: center;
  color: black;
}
.home__welcome {
  background-image: linear-gradient(whitesmoke 70%, #e7ab30);
  padding: 10%;
}
.home__welcome-title {
  color: black;
  margin-bottom: 30px;
  font-size: 20px;
}
.home__welcome-title strong {
  display: block;
  border-bottom: 1px solid #e7ab30;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  box-shadow: 0px 24px 24px -14px rgba(0, 0, 0, 0.15);
}
.home__welcome-h2 {
  margin-bottom: 5%;
  font-size: 27px;
}
.home__welcome-h3 {
  margin-bottom: 5%;
  font-size: 22px;
}
.home__images {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.home__images-img {
  width: 150px;
}

@media (min-width: 768px) {
  .home__welcome {
    padding: 3%;
  }
  .home__images-img {
    width: 200px;
  }
}
@media (min-width: 1300px) {
  .home .home__welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/2;
  }
  .home .home__welcome .home__images {
    grid-column: 2/3;
    grid-row: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home .home__welcome .home__images-img {
    width: 300px;
  }
}
/* ESTILOS DE CONTACTO  */
.contact-container {
  background: linear-gradient(whitesmoke 30%, #e7ab30 100%);
}
.contact-container .contact {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-container .contact__title {
  margin-bottom: 40px;
  border-bottom: 1px solid #e7ab30;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px;
  color: #2A2C34;
  width: 100%;
  text-align: center;
  box-shadow: 0px 24px 24px -14px rgba(0, 0, 0, 0.15);
}
.contact-container .contact__h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.contact-container .contact__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10%;
  width: 100%;
}
.contact-container .contact__form-label {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-container .contact__form-label-msj {
  height: 40px;
  border: 0;
  border-bottom: 1px solid #2A2C34;
  width: 100%;
  color: #2A2C34;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
  transition: all 1s ease;
}
.contact-container .contact__form-label-msj::placeholder {
  color: #2A2C34;
  opacity: 0.7;
}
.contact-container .contact__form-label-msj:focus {
  outline: none;
  border-bottom: 1px solid #e7ab30;
  box-shadow: 0px 24px 24px -14px rgba(0, 0, 0, 0.15);
}
.contact-container .contact__form-label-msj:focus::placeholder {
  opacity: 0;
  transition: all 1s ease;
}
.contact-container .contact__form-label textarea {
  height: 40px;
  border: 0;
  border-bottom: 1px solid #2A2C34;
  color: #2A2C34;
  width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: rgba(245, 245, 245, 0);
}
.contact-container .contact__form-label textarea::placeholder {
  color: #2A2C34;
  opacity: 0.7;
  transition: all 1s ease;
}
.contact-container .contact__form-label textarea:focus {
  outline: none;
  border-bottom: 1px solid #e7ab30;
  box-shadow: 0px 24px 24px -14px rgba(0, 0, 0, 0.15);
}
.contact-container .contact__form-label textarea:focus::placeholder {
  opacity: 0;
}
.contact-container .contact__form-label-submit {
  color: #e7ab30;
  height: 40px;
  background-color: #2A2C34;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  transition: all 1s ease;
  width: 80%;
  display: block;
  margin: 0 auto;
}
.contact-container .contact__form-label-submit:hover {
  color: #2A2C34;
  background-color: #e7ab30;
  transition: all 0.5s ease;
  outline: 1px solid #2A2C34;
  box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.62);
}
.contact-container .contact__form-label-submit:active {
  color: #2A2C34;
  background-color: #e7ab30;
  transition: all 0.5s ease;
  outline: 1px solid #2A2C34;
  box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.62);
}
.contact-container .contact__info {
  height: 100%;
  width: 100%;
  background-color: #2A2C34;
  padding: 20px;
  position: relative;
  margin-bottom: 100px;
}
.contact-container .contact__info-pin {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  right: 0px;
  fill: #e7ab30;
  rotate: 30deg;
  transition: all 0.5s ease-out;
}
.contact-container .contact__info:hover .contact__info-pin {
  scale: 1.5;
  transition: all 0.5s ease-out;
}
.contact-container .contact__info h3 {
  color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
}
.contact-container .contact__info-div {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10%;
  box-shadow: 0px 0px 14px 2px rgba(42, 44, 52, 0.35);
  padding: 5px;
}
.contact-container .contact__info-div svg path {
  fill: #e7ab30;
}
.contact-container .contact__info-div--3 {
  margin-bottom: 0;
}
.contact-container .contact__info-div p {
  text-align: center;
  font-size: 18px;
  margin: 0 0 0 10px;
  color: #e7ab30;
}

@media (min-width: 768px) {
  .contact-container .contact {
    padding: 4% 2%;
  }
  .contact-container .contact__title {
    width: 100%;
    text-align: center;
  }
  .contact-container .contact__medios {
    display: flex;
    width: 100%;
    margin: 40px;
    box-shadow: 0px 0px 14px 2px rgba(42, 44, 52, 0.35);
  }
  .contact-container .contact__medios-div {
    margin: 0;
    box-shadow: none;
  }
  .contact-container .contact__medios-h2 {
    font-size: 25px;
  }
  .contact-container .contact__form {
    padding: 40px;
    margin: 0;
  }
  .contact-container .contact__form-label input {
    height: 50px;
  }
}
.nosotros {
  text-align: center;
  padding: 5%;
  background-image: linear-gradient(white, #e7ab30);
}
.nosotros__img {
  width: 80%;
  margin: 10%;
  box-shadow: 0px 0px 14px 2px rgba(42, 44, 52, 0.35);
}
.nosotros__hola {
  margin-bottom: 20px;
  display: inline-block;
  border-bottom: 1px solid #e7ab30;
}
.nosotros__name strong {
  border-bottom: 1px solid #e7ab30;
  color: black;
}

@media (min-width: 768px) {
  .nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 10% 50% 10% 10% 20%;
  }
  .nosotros__hola {
    grid-column: 1/4;
    margin: 5px;
  }
  .nosotros__name {
    grid-column: 1/4;
    grid-row: 2/3;
    font-size: 30px;
  }
  .nosotros img {
    grid-column: 1/3;
    grid-row: 3/4;
    margin: 0;
    width: 350px;
    height: 350px;
    margin: auto;
    border: 1px solid #e7ab30;
  }
  .nosotros h3 {
    margin-top: 10%;
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .nosotros__sub {
    grid-column: 1/4;
    grid-row: 4/5;
    height: 100%;
  }
  .nosotros__sub-2 {
    display: flex;
    align-items: center;
    grid-column: 1/4;
    grid-row: 5/6;
  }
  .nosotros__sub-3 {
    display: flex;
    align-items: center;
    grid-column: 1/4;
    grid-row: 6/7;
  }
}
/*ESTILOS DEL LOGIN*/
.form-container, .form-sign-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(whitesmoke, #e7ab30);
}
.form-container .form, .form-sign-container .form {
  background-color: whitesmoke;
}
.form-container .form__tittle, .form-sign-container .form__tittle, .form-sign-container .form-sign__tittle {
  color: #2A2C34;
  font-weight: 1000;
  margin-bottom: 20px;
}
.form-container .form__date, .form-sign-container .form__date, .form-sign-container .form-sign__date {
  text-align: center;
  margin-bottom: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
}
.form-container .form__date-input, .form-sign-container .form__date-input, .form-sign-container .form-sign__date input {
  box-shadow: 6px 0px 5px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0);
  width: 100%;
  border-radius: 0 20px 20px 0;
  height: 40px;
  background-color: whitesmoke;
  padding-left: 10px;
}
.form-container .form__date-input::placeholder, .form-sign-container .form__date-input::placeholder, .form-sign-container .form-sign__date input::placeholder {
  transition: all 1s ease;
  font-weight: bold;
}
.form-container .form__date-input:focus, .form-sign-container .form__date-input:focus, .form-sign-container .form-sign__date input:focus {
  border-top: 1px solid #e7ab30;
  border-right: 1px solid #e7ab30;
  border-bottom: 1px solid #e7ab30;
  font-weight: bold;
  outline: none;
}
.form-container .form__date-input:focus::placeholder, .form-sign-container .form__date-input:focus::placeholder, .form-sign-container .form-sign__date input:focus::placeholder {
  opacity: 0;
}
.form-container .form__date-input:hover::placeholder, .form-sign-container .form__date-input:hover::placeholder, .form-sign-container .form-sign__date input:hover::placeholder {
  color: black;
  padding-left: 10px;
  transition: all 1s ease;
}
.form-container .form__date svg path, .form-sign-container .form__date svg path, .form-sign-container .form-sign__date svg path {
  fill: #e7ab30;
  border-right: 1px solid #2A2C34;
}
.form-container .form__additional-remember, .form-sign-container .form__additional-remember {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 17px;
}
.form-container .form__additional-remember-text, .form-sign-container .form__additional-remember-text {
  margin: 0;
  cursor: default;
}
.form-container .form__additional-remember-text:hover, .form-sign-container .form__additional-remember-text:hover {
  scale: 1.02;
}
.form-container .form__additional-remember-check, .form-sign-container .form__additional-remember-check {
  cursor: pointer;
  scale: 1.2;
}
.form-container .form__additional-link, .form-sign-container .form__additional-link {
  color: rgb(255, 0, 0);
  text-align: center;
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 20px;
}
.form-container .form__additional-link:hover, .form-sign-container .form__additional-link:hover {
  scale: 1.02;
}
.form-container .form__submit, .form-sign-container .form__submit, .form-sign-container .form-sign__submit {
  border: none;
  box-shadow: 0px 0px 14px 2px rgba(42, 44, 52, 0.35);
  background-color: #e7ab30;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  height: 50px;
  transition: all 0.5s ease;
}
.form-container .form__submit:hover, .form-sign-container .form__submit:hover, .form-sign-container .form-sign__submit:hover {
  background-color: #2A2C34;
  color: #e7ab30;
  transition: all 0.5s ease;
}
.form-container .form__social, .form-sign-container .form__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container .form__social-icon, .form-sign-container .form__social-icon {
  margin: 10px;
}
.form-container .form__social-icon svg, .form-sign-container .form__social-icon svg {
  transition: all 1s ease;
}
.form-container .form__social-icon svg:hover, .form-sign-container .form__social-icon svg:hover {
  scale: 1.5;
  transition: all 1s ease;
}
.form-container .form__social-icon svg.facebook:hover path, .form-sign-container .form__social-icon svg.facebook:hover path {
  fill: #1F7BF2;
}
.form-container .form__social-icon svg.google:hover path, .form-sign-container .form__social-icon svg.google:hover path {
  fill: #EB483B;
}
.form-container .form__signup, .form-sign-container .form__signup, .form-sign-container .form-sign__login {
  text-align: center;
  margin: 10px;
}
.form-container .form__signup-text, .form-sign-container .form__signup-text, .form-sign-container .form-sign__login-text {
  margin: 0;
}
.form-container .form__signup-link, .form-sign-container .form__signup-link {
  color: red;
  font-size: 20px;
  text-decoration: none;
}
.form-container .form__signup-link:hover, .form-sign-container .form__signup-link:hover {
  text-decoration: underline;
}

.form-sign-container .form-sign, .form-container .form, .form-sign-container .form {
  margin: 50px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 2px rgba(42, 44, 52, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6% 6%;
  animation: card 1s ease-in;
  background-color: whitesmoke;
}
@media (max-width: 420px) {
  .form-sign-container .form-sign, .form-container .form, .form-sign-container .form {
    margin: 15% 0;
  }
}

@media (max-width: 768px) {
  .login-img {
    display: none;
  }
}
@media (min-width: 768px) {
  main div.form-container, main div.form-sign-container {
    padding: 40px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main div.form-container .form, main div.form-sign-container .form {
    margin: 0;
    padding: 5% 10%;
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    justify-content: space-around;
  }
  main div.form-container .form__signup, main div.form-container .form-sign-container .form-sign__login, .form-sign-container main div.form-container .form-sign__login, main div.form-sign-container .form__signup, main div.form-sign-container .form-sign__login {
    display: none;
  }
  .login-img {
    width: 100%;
    height: 100%;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 0px 14px 2px rgba(42, 44, 52, 0.5);
    background-image: url("../../img/celular.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: card 1s ease-in;
    padding: 20px;
  }
  .login-img__glass {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3803921569);
    border-radius: 5px;
    backdrop-filter: blur(4px);
    padding: 10px 30px;
    height: 70%;
    max-width: 600px;
    outline: 1px solid #e7ab30;
  }
  .login-img__glass-welcome h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    color: whitesmoke;
    margin-bottom: 30px;
  }
  .login-img__glass-welcome p {
    text-align: start;
    max-width: 180px;
    color: whitesmoke;
  }
  .login-img__glass-welcome p span {
    font-weight: bold;
    text-transform: uppercase;
    color: #e7ab30;
  }
  .login-img__glass-login p {
    color: whitesmoke;
    margin-bottom: 10px;
    text-align: center;
  }
  .login-img__glass-login a {
    border-radius: 5px;
    border: 2px solid #e7ab30;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #e7ab30;
    transition: all 1s ease;
  }
  .login-img__glass-login a:hover {
    scale: 1.05;
    transition: all 0.3s ease;
    color: white;
    background-color: #e7ab30;
  }
}
.form-sign-container .form-sign, .form-container .form, .form-sign-container .form {
  margin: 50px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 2px rgba(42, 44, 52, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6% 6%;
  animation: card 1s ease-in;
  background-color: whitesmoke;
}
@media (max-width: 420px) {
  .form-sign-container .form-sign, .form-container .form, .form-sign-container .form {
    margin: 15% 0;
  }
}

.form-sign-container .form-sign {
  background-color: whitesmoke;
  animation: sign-card 1s ease;
}
.form-sign-container .form-sign__section {
  text-align: center;
}
.form-sign-container .form-sign__date {
  align-items: center;
}
.form-sign-container .form-sign__date svg {
  width: 40px;
  opacity: 0.8;
  height: 40px;
}
.form-sign-container .form-sign__additional-remember {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  margin: 20px 0;
}
.form-sign-container .form-sign__additional-remember-text {
  margin: 0;
}
.form-sign-container .form-sign__additional-remember-text:hover {
  scale: 1.02;
}
.form-sign-container .form-sign__login-link {
  color: green;
  font-size: 20px;
  text-decoration: none;
}
.form-sign-container .form-sign__login-link:hover {
  text-decoration: underline;
}
.form-sign-container .sign-img {
  display: none;
}

@keyframes card {
  0% {
    opacity: 0%;
    scale: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
.form-container .form, .form-sign-container .form, .form-sign-container .form-sign {
  margin: 50px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 2px rgba(42, 44, 52, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6% 6%;
  animation: card 1s ease-in;
  background-color: whitesmoke;
}
@media (max-width: 420px) {
  .form-container .form, .form-sign-container .form, .form-sign-container .form-sign {
    margin: 15% 0;
  }
}

/*MEDIA QUERIES DE SIGNUP*/
@media (max-width: 420px) {
  .form-sign__date-img {
    display: none;
  }
}
@media (min-width: 768px) {
  main div.form-sign-container {
    padding: 40px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main div.form-sign-container .form-sign {
    padding: 6% 6%;
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    margin: 0;
  }
  main div.form-sign-container .sign-img {
    width: 100%;
    height: 100%;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 0px 14px 2px rgba(42, 44, 52, 0.5);
    background-image: url("../../img/celular.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: card 1s ease-in;
    padding: 20px;
  }
  main div.form-sign-container .sign-img__glass {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3803921569);
    border-radius: 5px;
    backdrop-filter: blur(4px);
    padding: 10px 30px;
    height: 70%;
    max-width: 600px;
    outline: 1px solid #e7ab30;
  }
  main div.form-sign-container .sign-img__glass-welcome h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    color: whitesmoke;
    margin-bottom: 30px;
  }
  main div.form-sign-container .sign-img__glass-welcome p {
    text-align: start;
    max-width: 180px;
    color: whitesmoke;
  }
  main div.form-sign-container .sign-img__glass-welcome p span {
    font-weight: bold;
    text-transform: uppercase;
    color: #e7ab30;
  }
  main div.form-sign-container .sign-img__glass-login p {
    color: whitesmoke;
    margin-bottom: 10px;
    text-align: center;
  }
  main div.form-sign-container .sign-img__glass-login a {
    border-radius: 5px;
    border: 2px solid #e7ab30;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #e7ab30;
    transition: all 1s ease;
  }
  main div.form-sign-container .sign-img__glass-login a:hover {
    scale: 1.05;
    transition: all 0.3s ease;
    color: white;
    background-color: #e7ab30;
  }
}
@media (min-width: 1024px) {
  main div.form-sign-container {
    padding: 2% 10%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main div.form-sign-container .form-sign__date-img {
    width: 40px;
  }
  main div.form-sign-container .form-sign__additional-remember {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
  }
  main div.form-sign-container .form-sign__additional-remember-check {
    scale: 2;
  }
  main div.form-sign-container .form-sign hr {
    display: none;
  }
  main div.form-sign-container .form-sign__login {
    display: none;
  }
}
.form-container .form, .form-sign-container .form, .form-sign-container .form-sign {
  margin: 50px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 2px rgba(42, 44, 52, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6% 6%;
  animation: card 1s ease-in;
  background-color: whitesmoke;
}
@media (max-width: 420px) {
  .form-container .form, .form-sign-container .form, .form-sign-container .form-sign {
    margin: 15% 0;
  }
}

.form-container .form, .form-sign-container .form, .form-sign-container .form-sign {
  margin: 50px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 2px rgba(42, 44, 52, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6% 6%;
  animation: card 1s ease-in;
  background-color: whitesmoke;
}
@media (max-width: 420px) {
  .form-container .form, .form-sign-container .form, .form-sign-container .form-sign {
    margin: 15% 0;
  }
}

.footer-container {
  background-color: #e7ab30;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.footer-container__footer-section h3 {
  text-align: center;
  padding: 10px;
}
.footer-container__footer-section-links {
  text-align: center;
  font-size: 20px;
  list-style: none;
  padding: 0;
}
.footer-container__footer-section-links a {
  text-decoration: none;
}
.footer-container__social {
  text-align: center;
  margin-bottom: 10px;
}
.footer-container__social a {
  margin: 15px;
}
.footer-container p {
  margin: 0;
  text-align: center;
  padding-bottom: 5px;
}

/*# sourceMappingURL=style.css.map */
