@import "../base/mixin";
@import "../base/variables";


.contact-container {
  background: linear-gradient($color-claro 30%, $color-principal 100%);

  .contact {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;



    &__title {
      margin-bottom: 40px;
      border-bottom: 1px solid $color-principal;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 35px;
      color: $color-secundario;
      width: 100%;
      text-align: center;
      @include bottom-shadow;
    }

    &__h2 {
      font-size: 20px;
      margin-bottom: 20px;
    }


    &__form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 10%;
      width: 100%;
      

      &-label {
        display: flex;
        flex-direction: column;
        gap: 20px;
       
        &-msj{
          height: 40px;
          border: 0;
          border-bottom: 1px solid $color-secundario;
          width: 100%;
          color: $color-secundario;
          font-weight: bold;
          background-color: rgba(0, 0, 0, 0);
          transition: all 1s ease;

          &::placeholder {
            color: $color-secundario;
            opacity: 0.7;
          }
         
          &:focus {
            outline: none;
            border-bottom: 1px solid $color-principal;
            @include bottom-shadow;
            &::placeholder {
              opacity: 0;
              transition: all 1s ease;
            }
          }
        }

        textarea {
          height: 40px;
          border: 0;
          border-bottom: 1px solid $color-secundario;
          color: $color-secundario;
          width: 100%;
          font-weight: bold;
          margin-bottom: 10px;
          background-color: rgba(245, 245, 245, 0);

          &::placeholder {
            color: $color-secundario;
            opacity: 0.7;
            transition: all 1s ease;
          }

          &:focus {
            outline: none;
            border-bottom: 1px solid $color-principal;
            @include bottom-shadow;
            &::placeholder {
              opacity: 0;
            }

          }
        }

        &-submit {
          color: $color-principal;
          height: 40px;
          background-color: $color-secundario;
          font-weight: bold;
          border: none;
          border-radius: 5px;
          font-size: 20px;
          transition: all 1s ease;
          width: 80%;
          display: block;
          margin: 0 auto;

          &:hover {
            color: $color-secundario;
            background-color: $color-principal;
            transition: all 0.5s ease;
            // font-size: 21px;
            outline: 1px solid $color-secundario;
            box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.62);
          }

          &:active{
            color: $color-secundario;
            background-color: $color-principal;
            transition: all 0.5s ease;
            // font-size: 21px;
            outline: 1px solid $color-secundario;
            box-shadow: 0px 10px 24px -5px rgba(0, 0, 0, 0.62);
          }
        }
      }


    }

    &__info {
      height: 100%;
      width: 100%;
      background-color: $color-secundario ;
      padding: 20px;
      position: relative;
      margin-bottom: 100px;

    &-pin{
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0px;
      right: 0px;
      fill: $color-principal;
      rotate: 30deg;
      transition: all 0.5s ease-out;
    }

      &:hover .contact__info-pin {
        scale: 1.5;
        transition: all 0.5s ease-out;
        
      }

      h3 {
        color: $color-claro;
        font-size: 30px;
        font-weight: bold;
      }

      &-div {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 10%;
        @include shadow;
        padding: 5px;

         svg path {
            fill: $color-principal;
        }

         &--3 {
            margin-bottom: 0;
        }


        p {
          text-align: center;
          font-size: 18px;
          margin: 0 0 0 10px;
          color: $color-principal;
        }

      }
    }
  }
}