@import "../base/variables";
/*ESTILOS DEL LOGIN*/
.form-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient($color-claro,$color-principal);

  .form {
    @extend %card-user;
    background-color: whitesmoke;
   

    &__title {
      color: $color-secundario;
      // text-align: center;
      font-weight: 1000;
      margin-bottom: 20px;
      // border-radius: 5px;
      // padding: 10px;
    }
    &__date {
      text-align: center;
      margin-bottom: 15px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 5px;
      &-input {
        // @include shadow;
        box-shadow: 6px 0px 5px 1px rgba(0,0,0,0.2);
        // border: 1px solid $color-secundario;
        border: 1px solid rgba(255, 255, 255, 0);
        width: 100%;
        border-radius:0 20px 20px 0;
        height: 40px;
        background-color: whitesmoke;
        padding-left: 10px;
        &::placeholder{
          transition: all 1s ease;
          font-weight: bold;
        }
        &:focus{
          border-top:1px solid $color-principal ;
          border-right:1px solid $color-principal ;
          border-bottom:1px solid $color-principal ;
          font-weight: bold;
          outline: none;
          &::placeholder{
            opacity: 0;
          }
        }
      }
  
      svg path{
        fill: $color-principal;
        border-right: 1px solid $color-secundario;
       
      }
    }
    &__additional-remember {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      margin-bottom: 17px;

      &-text {
        margin: 0;
        font-size: 18px;
        cursor: default;
       
      }
      &-check{
        cursor: pointer;
        scale: 1.2;
      }
    }
    &__additional-link {
      color: rgba(255, 0, 0, 1);
      text-align: center;
      display: inline-block;
      width: 100%;
      text-decoration: none;
      font-size: 15px;
      margin-bottom: 20px;
     
    }
    &__submit {
      border: none;
      @include shadow;
      background-color: $color-principal;
      color: black;
      font-weight: bold;
      border-radius: 5px;
      height: 50px;
      transition: all 0.5s ease;
     
    }
    &__social {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-icon {
        margin: 10px;
       svg{
         transition: all 1s ease;
         
       
       }
      }
    }
    &__signup {
      text-align: center;
      margin: 10px;

      &-text {
        margin: 0;
      }
      &-link {
        color: red;
        font-size: 20px;
        text-decoration: none;
       
      }
    }
  }
}
